@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Azeret Mono;
}
header{
    height: 640px;
   max-height: 1440px;
    background-image: url(./img/Hero-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 34px;
   
}
.bennar{
   
    max-width: 998px;
    height: 582px;
    margin: 0 auto;
 }
.bennar img{
   align-items: center;
    margin-top: 34px;
    height: 240px;
    width: 240px;
    margin-left: 370px;
   }
.section{
 text-align: center;
color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 48px;
font-weight: 800;
margin-top: 20px;
}
p{
    margin-top: 10PX;
     text-align: center;

     color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;

}
.button{
    background-color:rgb(13, 19, 33) ; 
    margin-left: 400px;
    margin-top: 15px;
color: rgb(255, 255, 255);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
text-align: center;
border-radius: 7px;
background: rgb(13, 19, 33);
}
.main-section{
    height:1265px ;
    max-width: 946px;
    margin: 0 auto;
  
    margin-top: 35px;
}
h1{
    text-align: center;
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 32px;
font-weight: 800;
line-height: 37px;
}
.row{
    height: 1200px;
    max-width: 946;
}
.row1{
    height: 400px;
    max-width: 946;
   
    display: flex;
 
}

.row11{
    height: 400px;
   width: 50%;
}

.row111{
    height: 400px;
   width: 50%;
 
}

.row111 img{
   margin-left: 30% ;
   margin-top: 20px;
   height: 240px;
   width: 274px;

}
.row11 h3{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
text-align: left;
margin-top: 40px;
}
.row11 p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: left;
}
.row2{
    height: 400px;
    max-width: 946;
 
    display: flex;
 
}
.row22{
    height: 400px;
   width: 50%;
}
.row222{
    height: 400px;
   width: 50%;
  
}
.row22 img{
    height: 240px;
    width: 274px;
}
.row22 h3{
    color: rgba(13, 19, 33, 0.7);
    font-family: Azeret Mono;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    text-align: right;
    margin-top: 40px;
}
.row22 p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align:end;
}
.row33{
    height: 400px;
   width: 50%;
}

.row333{
    height: 400px;
   width: 50%;
}

.row333 img{
    margin-left: 30% ;
    margin-top: 20px;
    height: 240px;
    width: 274px;
 
 }
.row33 h3{
    color: rgba(13, 19, 33, 0.7);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 700;
line-height: 36px;
text-align: left;
margin-top: 40px;
}
.row33 p{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: left;
}
.row3{
    height: 400px;
    max-width: 946;
   display: flex;
 
}
.vedio{
    height: 775PX;
    max-width: 1140PX;
}

.vedio2{
   
 margin-top: 30px;
}
.terget{
   max-width: 1140px;
   height:460px ;
   }
.terget1-content{
    height: 299px;
  width: 100%;
 display: flex;
  margin-top: 48px;
  gap: 10px;
}
.terget1{
    height: 299px;
  width: 33%;
 border-radius: 16px;
background: rgba(255, 76, 30, 0.05);
 
}
.terget2{
    height: 299px;
  width: 33%;
   border-radius: 16px;

background: rgba(0, 76, 232, 0.05);
}
.terget3{
    height: 299px;
  width: 33%;
 border-radius: 16px;

background: rgba(255, 223, 0, 0.05);
}

h4{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 24px;
font-weight: 800;
line-height: 36px;
text-align: left;
}
h5{
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 26px;
text-align: left;
border-radius: 16px;
color: rgb(13, 19, 33);
}
.terget1-content image{
 height: 28px;
 width: 14px;
 left: 15px;
}
footer{
    height: 314px;
    max-width: 1140px;
     background-image: url(./img/handshake.jpg);
     border-radius: 16px;
background: rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),rgba(0, 0, 0, 0.2),url(Email);
background-repeat: no-repeat;
background-size: cover; 


}
.need{
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 32px;
    font-weight: 700;
  
    text-align: center;
}
.need2{
   
    color: rgb(255, 255, 255);
    font-family: Azeret Mono;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
   
   
}
input{
    box-sizing: border-box;
border: 1px solid rgba(13, 19, 33, 0.15);
border-radius: 8px;

background: rgb(255, 255, 255);
margin-left: 15%;
height: 57px;
width: 548px;

color: rgba(13, 19, 33, 0.4);
font-family: Azeret Mono;
font-size: 16px;
font-weight: 400;
line-height: 19px;
margin-top: 43px;
padding-right: 30%;
}
.submit{
    width: 120px;
    height: 57px;
    color: rgb(13, 19, 33);
font-family: Azeret Mono;
font-size: 20px;
font-weight: 600;
border-radius: 8px;
background: rgb(255, 255, 255);
}
.footer-img{
 max-width: 1140px;
 height: 34px;
 margin: 0 auto;

 display: flex;
}
.footer-text{
    height: 34px; 
 margin-top: 12px;
    width: 50%;
    font-family: Azeret Mono;
   }
   .footer-img2{
    height: 34px; 
 width: 34px;
 
 }